* {
  margin: 0px;
  padding: 0px;
}
.App {
  width: 100%;
  overflow: hidden;
}
.navbar {
  background-color: orangered;
  color: white !important;
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
}

.search-product input {
  width: 100%;
  border: 1px solid black;
}
.form-control:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: none !important;
}
.nav-rig {
}
.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.banner-img {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 380px;

  margin: auto;
}
.ctitle {
  margin-top: -30px;
  float: right;
  margin-right: 200px;
  z-index: 9999;
}
.product-heading {
  font-size: 25px;
}
.product-border {
  border: 1px solid red;
}
