* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  background-color: orangered;
  color: white !important;
}

.search-product input {
  width: 100%;
}
.form-control:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: none !important;
}

.banner {
  width: 80%;
}
img {
  width: 100%;
}
